@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Work+Sans:wght@500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #121214;
}

.gradient-bg {
    background: rgb(130,87,229);
    background: linear-gradient(35deg, rgba(130,87,229,1) 0%, rgba(18,18,20,1) 100%);
}

.gradient {
    background: rgb(130,87,229);
    background: linear-gradient(35deg, rgba(130,87,229,1) 0%, rgba(18,18,20,1) 100%);
}

header {
    height: 20vh;
    width: 100%;
    background-color: #121214;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}

.svg1 {
    fill: #e1e1e6;
    height: 70px;
    width: 70px;
    margin-left: 10px;
}

.svg2 {
    fill: #e1e1e6;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.btn-bac {
    all: unset;
}

.logo-sesc {
    height: 70px;
    gap: .8rem;
    margin-bottom: 20px;
}

section {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}



/*----------------------ELEMENTOS----------------------*/
.element1 {
    height: 500px;
    width: 90%;
    background-color:#121214;
    margin-top: calc(20vh + 5%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.element2 {
    height: 500px;
    width: 90%;
    background-color:#121214;
    margin-top: 5%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.element3 {
    height: 500px;
    width: 90%;
    background-color:#121214;
    margin-top: 5%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.element4 {
    height: 500px;
    width: 90%;
    background-color:#121214;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
/*----------------------ELEMENTOS----------------------*/



/*------------------------POSTS------------------------*/



.image1 {
    margin: 5%;
    height: 200px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #121214;
    
}

.p1 {
    margin: 5%;
    width: 90%;
    font-size: 11pt;
    font-weight: 500;
    margin-top: 0px;
    color: #ffffff;
}
.pf {
    font-size: 11pt;
}
.sabermais {
    border: none;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    background-color: #8257e5;
    color: #e1e1e6;
    font-size: 15pt;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 5%;
}

.sabermais:active{
    background-color: #452f78;
}

/*------------------------POSTS------------------------*/

.foot {
    margin-top: 3%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e1e1e6;
    background-color: #121214;
}
.foote {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e1e1e6;
    background-color: #121214;
    font-size: 10px;
}

.git-svg {
    fill: #757583;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}


.jornal {
    margin-top: calc(20vh + 5%);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
}